<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1>testing</h1>
                <h2 class="section-heading">About the award</h2>
                <hr class="light">
                <p class="text-faded">The A. Edward Newton Student Book Collection Competition is the longest-running collegiate book collecting competition in the nation, and encourages reading and collecting in an age of declining readership. Started in the 1930s by a renowned Philadelphia book collector, A. Edward Newton, the competition awards cash prizes to the three Swarthmore College students who submit the best essays and annotated bibliographies of their book collections. The winners are also invited to give a talk about their collection in McCabe Library.</p>
                <!--a href="#" class="btn btn-default btn-xl">Get Started!</a-->
            </div>
        </div>
    </div>
</section>
