<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the award</h2>
                <hr class="light">
                <p class="text-faded">The A. Edward Newton Student Book Collection Competition is the longest-running collegiate book collecting competition in the United States. Started in the 1930s by a renowned Philadelphia book collector, A. Edward Newton, the competition awards cash prizes to the three Swarthmore College students who submit outstanding essays about and annotated bibliographies of their book collections. The winners are also invited to install their collections in an exhibition and give a talk about their collection in McCabe Library at a reception held in their honor. All three winners may go on to compete at the national level in the Antiquarian Booksellers’ Association of American <a style="display: block; text-decoration: none; color:white;" href="https://www.abaa.org/ncbcc/the-national-collegiate-book-collecting-contest"><u>Collegiate Book Collecting Contest</u></a></p>
                
            </div>
        </div>
    </div>
</section>
