<div class="col-lg-4 col-sm-6">
<a href="{{site.url}}{{ post.url }}" title="{{ post.title }}" class="portfolio-box">
<img src="{{site.url}}/img/{{post.image}}" class="img-responsive" alt="">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
                                {{post.prize}}
                            </div>
                            <div class="project-name">
                                {{ post.title }}
                            </div>
                        </div>
    </div>
</a>
</div>