<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A.E. Newton Award</h1>
            <p>Book Collecting Competition</p>
            <hr>
            <h2>Important: this site is under construction</h2>
            <h3>For updated information, please visit: <br>
                 https://www.swarthmore.edu/libraries/newton-book-collecting-prize</h3>
        
            
            <!--a href="#about" class="btn btn-primary btn-xl page-scroll">Book Collecting Competition</a-->
        </div>
    </div>
</header>
