<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
         <div class="col-lg-12 text-center">
                <h2 class="section-heading">See some examples of recent winners! </h2>
                <h4>(must use vpn if not on campus)</h4>
                <h3 class="section-heading">2020</h3>
                <h4><a href="http://hdl.handle.net/10066/23013">1st Prize: Let all the souls here rest in peace,for we will not repeat the evil: Teaching theBombing of Hiroshima Through Hibakusha Testimony by Alessandro Getzel</a></h4>
                <h4><a href="http://hdl.handle.net/10066/23012">2nd Prize: The Works that Helped Define My Asian-American Identity by Cassandra Stone</a></h4>
                <h4><a href="http://hdl.handle.net/10066/23011">3rd Prize: Space, Objects, and Aesthetics: The Intersection Between Mathematics and Art by Michael Thut</a></h4>
                 <hr class="primary">
                <h3 class="section-heading">2019 shared 1st prize</h3>
                <h4><a href="http://hdl.handle.net/10066/23010">Biology, the Study of (the Good) Life: A Biologist’s Journey into Baking, Food, and the Science of Making it by Therese Ton</a></h4>
                <h4><a href="http://hdl.handle.net/10066/23009">A Glimpse Beyond the Veil by Keaton Kakkar</a></h4>
                <h4><a href="http://hdl.handle.net/10066/23008">Philosophies of Difference: A Study of Deleuze and Guattari by Grant Brown</a></h4>
                 <hr class="primary">
                <h2 class="section-heading">See some examples of past winners!</h2>
            </div>
                {% for post in site.posts %}
                {% include essays.html %}
                {% endfor %}
            <div class="col-lg-4 col-sm-6">
                <a href="http://triceratops.brynmawr.edu/dspace/bitstream/handle/10066/11425/Newton_2013_2nd_cato.pdf?sequence=1" class="portfolio-box">
                    <img src="img/kennedy_final_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paul Cato, 2nd Prize 2013
                            </div>
                            <div class="project-name">
                                Tales of American Royalty: An Exercise of American History
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
