<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
         <div class="col-lg-12 text-center">
                <h2 class="section-heading">See some examples of past winners!</h2>
                 <hr class="primary">
            </div>
            <div class="col-lg-4 col-sm-6">
                {% for post in site.posts %}
                {% include essays.html %}
                {% endfor %}
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" title="https://scholarship.tricolib.brynmawr.edu/bitstream/handle/10066/11049/Newton_2013_1st_goossen.pdf?sequence=1&isAllowed=y" class="portfolio-box">
                    <img src="img/hobbit_final_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ben Goosen, 1st prize 2013
                            </div>
                            <div class="project-name">
                                The Hobbit: A Journey from Tolkien to Us... and Back Again
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://triceratops.brynmawr.edu/dspace/bitstream/handle/10066/11425/Newton_2013_2nd_cato.pdf?sequence=1" class="portfolio-box">
                    <img src="img/kennedy_final_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paul Cato, 2nd Prize 2013
                            </div>
                            <div class="project-name">
                                Tales of American Royalty: An Exercise of American History
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://triceratops.brynmawr.edu/dspace/bitstream/handle/10066/18972/Newton_2016_2nd_Henderson.pdf?sequence=2" class="portfolio-box">
                    <img src="img/hazzlet_final_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hazlett Henderson, 2nd prize 2015
                            </div>
                            <div class="project-name">
                                The Language of Images 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://triceratops.brynmawr.edu/dspace/bitstream/handle/10066/18973/Newton_2016_1st_Schlessinger.pdf?sequence=2" class="portfolio-box">
                    <img src="img/foster_final_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanie Schlessinger, 1st prize 2015
                            </div>
                            <div class="project-name">
                                The Man in the Bandana: A David Foster Wallace Collection
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#services" class="portfolio-box">
                    <img src="img/alessandra_web.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alessandra Occhiolini, 1st prize 2017
                            </div>
                            <div class="project-name">
                                Hollyweird: Cult Classics Nonfiction About the Seedy Side of the Dream Factory
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
