<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to apply</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow bounceIn text-primary"></i>
                    <div class="real">
                    <h2>COLLECTION</h2>
                    &nbsp;
                    <p class="text-muted">Have a collection of at least 20 books, at least 15 of which you own and up to five that you wish you could add. Textbooks may be included but not constitute a majority of the collection.</p>
                    &nbsp;
                    <p class="text-muted">The books don't need to be expensive, rare or unique!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <div class="essay">
                    <h2>Essay</h2>
                    <p class="text-muted">Write a one-page essay that defines the theme, framework, and scope of your collection. What constitutes “a collection”? How do you collect intentionally?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h2>Annotated Bibliography</h2>
                    <p class="text-muted">Write an annotated bibliography for each book in the collection. Bibliographical annotations should describe how each book relates to the rest of the collection, and, if not addressed in the essay, how, where, when, and why books were acquired.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h2>Deadline and Prizes</h2>
                    <p class="text-muted">Monday, January 24th, 2022</p>
                    <h3>Prizes</h3>
                    <p class="text-muted">1st Prize: $1,500<br/> 2nd Prize: $1,200 <br/> 3rd Prize: $1,000 </p>
                    <h3>Submit</h3>
                    <p class="text-muted">Submit your essay to rvargas1</p>
                </div>
            </div>
        </div>
    </div>
</section>
