<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to apply</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow bounceIn text-primary"></i>
                    <div class="real">
                    <h2>COLLECTION</h2>
                    &nbsp;
                    <p class="text-muted">Your collection should consist of at least 20 books; up to 5 titles may be a “wish list” of books you would like to add to your collection. Textbooks may be included if appropriate but should not constitute a majority of the collection. All books should be physical, print editions, rather than e-books.</p>
                    &nbsp;
                    <p class="text-muted">The Newton privileges collections with a clear and unique focus. That means the individual books do not need to be expensive or rare. Rather, all the books in your collection should come together to tell a cohesive story or explore a specific question.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <div class="essay">
                    <h2>ESSAY</h2>
                    <p class="text-muted">Write a one-page personal essay that defines the theme, framework, and scope of your collection.</p>
                    &nbsp;
                    <p class="text-muted">
                    Questions to guide you include: How did you become interested in the subject of your collection? How do you position yourself as a collector? Where and under what circumstances did you acquire these books?</p>
                    &nbsp;
                    <p class="text-muted">
                    How does this collection fit in with your interests as a student and your role as a member of intersecting communities?
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h2>ANNOTATED BIBLIOGRAPHY</h2>
                    <p class="text-muted">Write an annotated bibliography for each book in the collection. Your bibliography must be consistently formatted according to a <a href ="https://guides.tricolib.brynmawr.edu/citation">citation</a> style, such as MLA or Chicago (consult our research guide on citation to select and apply the style you will use).</p>
                    &nbsp;
                    <p class="text-muted">Your formal citations should be accompanied by descriptive annotations, addressing how each book relates to the rest of the collection, and, if not explained in the essay, how, where, when, and why each book was acquired.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h2>DEADLINES AND PRIZES</h2>
                    <p class="text-muted">Monday, February 3, 2025</p>
                    <h3>Prizes</h3>
                    <p class="text-muted">1st Prize: $1,500<br/> 2nd Prize: $1,200 <br/> 3rd Prize: $1,000 </p>
                    <h3>Submit</h3>
                    <p class="text-muted">Submit your essay and bibliography to aweil1</p>
                </div>
            </div>
        </div>
    </div>
</section>
