<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to apply</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow bounceIn text-primary"></i>
                    <div class="real">
                    <h2>REAL AND IMAGINARY COLLECTIONs</h2>
                    <!--h3>Physical Collection</h3-->
                    <p class="text-muted">Have a collection of 20 books, at least 15 of which you own and up to five that you wish you could add. Textbooks may be included but not constitute a majority of the collection.</p>
                    <h3>OR</h3>
                    <!--h3>Fictional Collection</h3-->
                    <p class="text-muted">Come up with an imaginary collection of 20 books you would like to have.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <div class="essay">
                    <h2>Essay</h2>
                    <p class="text-muted">Write a one-page essay that defines the theme, framework, and scope of your real collection. What constitutes “a collection”? How do you collect intentionally? What would you make for a syllabus for yourself?</p>
                        &nbsp;
                    <p class="text-muted">For the imaginary collection, write an essay that defines the theme, framework, and scope of your collection. What is your interest in building this collection? What are the challenges? How will you grow your imaginary collection?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h2>Annotated Bibliography</h2>
                    <p class="text-muted">Write an annotated bibliography for each book in the collection. Bibliographical annotations should describe how each book relates to the rest of the collection, and, if not addressed in the essay, how, where, when, and why books were acquired.</p>
                    &nbsp;
                    <p class="text-muted">For the imaginary collection, write an annotated bibliography for each book describing how it relates to the rest of the collection, why you selected this book and any challenges inherent to acquiring it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h2>Deadline and Prizes</h2>
                    <p class="text-muted">Submit essay and annotated bibliography to rvargas1 by Tuesday, January 24th 2017</p>
                    <h3>Prizes - Physical Collection</h3>
                    <p class="text-muted">1st Prize: $600,&nbsp; 2nd Prize: $300 </p>
                    <h3>Prizes - Imaginary Collection</h3>
                    <p class="text-muted">1st Prize: $200</p>
                </div>
            </div>
        </div>
    </div>
</section>
